{% extends "main.njk" %}

{% block content %}
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label>Username:<input name="username" type="text" placeholder="Username"></label>
        <label>Email:<input name="email" type="email" placeholder="Email address"></label>
        <label>Password:<input name="password" type="password" placeholder="Password"></label>
        <button type="submit">Register</button>
    </form>
    {% if status %}
        <p>{{status}}</p>
        <p>{{model}}</p>
    {% endif %}
{% endblock %}